<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
	<title>Document</title>
</head>
<body>
	<div id="message_container" style="border: 2px solid black"></div>

	<div>
		<input type="text" name="message_input">
		<input type="button" name="send_message_button" value="Send message">
		<!-- <input type="file" name="photo_input"> -->
	</div>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
<!-- Для подключения скриптов
<script type="text/javascript" src={% static "js/jquery.min.js" %}></script>
<script type="text/javascript" src={% static "js/main.js" %}></script>
<img src="{% static "images/forest.jpg" %}" alt="зимний лес" > -->